<html xlmns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
</head>
<body>
    
    <h1> Welcome. The cars we currently have in stock</h1>
    
    <table border=1>
        <tr>
            <td>Make</td>
            <td>Model</td>
            <td>Year</td>
        </tr>
        <tr th:each="car : ${carlist}">
        <td th:text="${car.make}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.year}"></td>
        </tr>
        
    </table>
    <div th:include="footer :: content"></div>
</body>
</html>